.top {
  width: 100%;
  background-color: #e0e0e0;
  color: #616161;
  padding-bottom: 5px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

.expanded {
    background: #e0f7fa;
    /* background: #f0f0f0; */

}

.heading {
  margin-left: 110px;
}

.container {
  padding-top: 20px;
}

accordion-group {
  padding: 5px;
}

.accordion-heading {
  height: 70px;
}

img {
  width: 150px;
  padding: 20px;
}
