

<h1 md-dialog-title class="primary-color">Thank you for sending me a message!</h1>
    <md-dialog-content class="accent-color">
      Hi {{ data.name }}, your message has been sent.
    </md-dialog-content>
    <md-dialog-actions>
      <!--<button md-raised-button color="primary" md-dialog-close (click)="onClose()" >
        close button
      </button> -->
      <button md-raised-button class="round-corners" (click)="onClose()" md-dialog-close >Close button</button>
    </md-dialog-actions>
