h3 {
  display: inline-block;
  padding: 10px;
  background: #0097a7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #e0f7fa;
}

.active {
  color: #b2ebf2;
}

.fa {
  font-size: 50px;
  color: #b2ebf2;
}

.material-icons {
  font-size: 90px;
  color: #b2ebf2;
}

p {
  font-size: 20px;
  color: #e0f7fa;
}

img {
  opacity: 1;
}
