h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fa {
  font-size: 30px;
  color: red;
}

p {
  font-size: 20px;
  font-style: italic;
}

img {
  opacity: 1;
}
