<div class="container top" @fadeAnimation >
  <div class="heading">
  <h1>Skills</h1>
</div>
</div>

<div class="container" @fadeAnimation>
  <nav md-tab-nav-bar color="primary" >
    <a md-tab-link *ngFor="let sk of skills"
            routerLink="/skills/{{sk.type}}"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{ sk.name }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>

<!-- <div class="container">

  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let sk of skills" >
      <a class="nav-link" routerLink="/skills/{{ sk.type }}" routerLinkActive="active">
        {{ sk.name }}
      </a>
    </li>

  </ul>
  <router-outlet></router-outlet>
</div> -->
