.top {
  width: 100%;
  background-color: #e0e0e0;
  color: #616161;
  padding-bottom: 5px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

.heading {
  margin-left: 110px;
}

.container {
  padding-top: 20px;
}

.nav {
  margin-left: 13px;
}

a {
  color: black;
}

a:hover, a:visited, a:focus {
  color: black;
  text-decoration: none;
}
