<md-card @fadeAnimation >
  <md-card-title><h2>{{ work.company }}</h2></md-card-title>

  <md-list>
  <md-card-subtitle *ngIf="work.position">{{ work.position }}</md-card-subtitle>

  <md-card-content>
    <table>
      <tr>
        <td class="label">From:</td>
        <td class="data">{{ work.startDate}}</td>
        <td class="label">To:</td>
        <td class="data">{{ work.endDate }}</td>
      </tr>
    </table>
    <strong>Summary</strong>
    <p>{{ work.summary }}</p>
    <strong>Hightlights</strong>
    <p>{{ work.highlights }}</p>
  </md-card-content>
</md-list>

</md-card>
