<div class="container top" @fadeAnimation >
  <div class="heading">
  <h1>Experience</h1>
</div>
</div>

<div class="container" @fadeAnimation>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">

      <md-list >
        <md-list-item *ngFor="let wk of work"
                      [class.selected]="wk === selected"
                      (click)="onSelect(wk)">

          <a  md-button color="primary" class="nav-link">
            {{ wk.company }}
          </a>

        </md-list-item>
      </md-list>

    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 "  >
      <div *ngIf="itemSelected">
        <md-card >
          <md-card-title>
            <h2>{{ selected.company }}</h2>
          </md-card-title>

          <md-list>
          <md-card-subtitle *ngIf="selected.position">{{ selected.position }}</md-card-subtitle>

          <md-card-content>
            <table>
              <tr>
                <td class="label">From:</td>
                <td class="data">{{ selected.startDate}}</td>
                <td class="label">To:</td>
                <td class="data">{{ selected.endDate }}</td>
              </tr>
            </table>
            <strong>Summary</strong>
            <p>{{ selected.summary }}</p>
            <strong>Hightlights</strong>
            <p>{{ selected.highlights }}</p>
          </md-card-content>
        </md-list>

        </md-card>

      </div>


    </div>
  </div>
</div>
