<div class="container top">
  <div class="heading">
    <h1>Projects</h1>
  </div>
</div>

<div class="container">

  <md-grid-list cols="3" rowHeight="3:6">
  <md-grid-tile>
    <md-card class="example-card">
    <md-card-header>
      <!-- <div md-card-avatar class="example-header-image"></div> -->
      <md-card-title>Project 1</md-card-title>
      <md-card-subtitle>Project 1 subtitle</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="http://lorempixel.com/200/200/abstract/1/">
    <md-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue in ex ac dignissim. Donec vulputate mollis tempus. Morbi vestibulum quam lacinia, venenatis ipsum id, ornare urna.
      </p>
    </md-card-content>
    <md-card-actions>
      <!-- <button md-button>LIKE</button>
      <button md-button>SHARE</button> -->
      <div>Project Url</div>
    </md-card-actions>
  </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card class="example-card">
    <md-card-header>
      <!-- <div md-card-avatar class="example-header-image"></div> -->
      <md-card-title>Project 1</md-card-title>
      <md-card-subtitle>Project 1 subtitle</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="http://lorempixel.com/200/200/abstract/2/">
    <md-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue in ex ac dignissim. Donec vulputate mollis tempus. Morbi vestibulum quam lacinia, venenatis ipsum id, ornare urna.
      </p>
    </md-card-content>
    <md-card-actions>
      <!-- <button md-button>LIKE</button>
      <button md-button>SHARE</button> -->
      <div>Project Url</div>
    </md-card-actions>
  </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
    <md-card-header>
      <!-- <div md-card-avatar class="example-header-image"></div> -->
      <md-card-title>Project 1</md-card-title>
      <md-card-subtitle>Project 1 subtitle</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="http://lorempixel.com/200/200/abstract/3/">
    <md-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue in ex ac dignissim. Donec vulputate mollis tempus. Morbi vestibulum quam lacinia, venenatis ipsum id, ornare urna.
      </p>
    </md-card-content>
    <md-card-actions>
      <!-- <button md-button>LIKE</button>
      <button md-button>SHARE</button> -->
      <div>Project Url</div>
    </md-card-actions>
  </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
    <md-card-header>
      <!-- <div md-card-avatar class="example-header-image"></div> -->
      <md-card-title>Project 1</md-card-title>
      <md-card-subtitle>Project 1 subtitle</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="http://lorempixel.com/200/200/abstract/4/">
    <md-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue in ex ac dignissim. Donec vulputate mollis tempus. Morbi vestibulum quam lacinia, venenatis ipsum id, ornare urna.
      </p>
    </md-card-content>
    <md-card-actions>
      <!-- <button md-button>LIKE</button>
      <button md-button>SHARE</button> -->
      <div>Project Url</div>
    </md-card-actions>
  </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
    <md-card-header>
      <!-- <div md-card-avatar class="example-header-image"></div> -->
      <md-card-title>Project 1</md-card-title>
      <md-card-subtitle>Project 1 subtitle</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="http://lorempixel.com/200/200/abstract/5/">
    <md-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue in ex ac dignissim. Donec vulputate mollis tempus. Morbi vestibulum quam lacinia, venenatis ipsum id, ornare urna.
      </p>
    </md-card-content>
    <md-card-actions>
      <!-- <button md-button>LIKE</button>
      <button md-button>SHARE</button> -->
      <div>Project Url</div>
    </md-card-actions>
  </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
    <md-card-header>
      <!-- <div md-card-avatar class="example-header-image"></div> -->
      <md-card-title>Project 1</md-card-title>
      <md-card-subtitle>Project 1 subtitle</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="http://lorempixel.com/200/200/abstract/6/">
    <md-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue in ex ac dignissim. Donec vulputate mollis tempus. Morbi vestibulum quam lacinia, venenatis ipsum id, ornare urna. 
      </p>
    </md-card-content>
    <md-card-actions>
      <!-- <button md-button>LIKE</button>
      <button md-button>SHARE</button> -->
      <div>Project Url</div>
    </md-card-actions>
  </md-card>
  </md-grid-tile>
</md-grid-list>

</div>
