.top {
  width: 100%;
  background-color: #e0e0e0;
  color: #616161;
  padding-bottom: 5px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

img {
  width: 300px;
}

md-grid-tile {
  background: white;

}

md-card-header {
  margin-bottom: 20px;
}

.heading {
  margin-left: 110px;
}

.container {
  padding-top: 20px;
}

.card {
  width: 450px;
  height: 760px;
}

.example-header-image {
  background-image: url('http://lorempixel.com/100/100/abstract/1/');
  background-size: cover;
}
