<div class="container top" @fadeAnimation>
  <div class="heading">
    <h1>Projects</h1>
  </div>
</div>
<div class="container">
  <md-tab-group>
    <md-tab label="Angular">
      <md-card>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
            <a href="http://freecodecamp-frontend.s3-website.eu-west-2.amazonaws.com/home" target="_blank">
              <img md-card-image src="../../assets/freecodecamp-frontend.png">
            </a>
          </div>
          <div class="col-lg-7 col-md-7 offset-md-1 col-sm-12 col-sx-12">
            <md-card-title>Angular Freecodecamp Front End Development</md-card-title>
            <md-card-subtitle>A series of projects using Angular 4</md-card-subtitle>
            <md-card-content>
              <p>
                Projects were created in Angular 4 and hosted on Heroku as part of the <a href="https://www.freecodecamp.org" target="_blank">Freecodecamp</a> Front End Development Certificate. Projects include a Random Quote Generator, a Tribute to Johannes Itten with information taken from the Wikipedia API and the Google Books API, Weather App using an open source IP API and the Openweathermap API, Twitch page accessing the Twitch API, Wikipedia page enabling users to seach the Wikipedia API, a Calculator, a Pomodoro clock, a basic Tic Tac Toe game and a basic Simon Says game.
              </p>
            </md-card-content>
          </div>
        </div>
      </md-card>
      <md-card>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-12">
            <a href="https://turquoise.github.io/udemy-recipes/recipes/1" target="_blank">
              <img md-card-image src="../../assets/recipes.png">
            </a>
          </div>
          <div class="col-lg-7 col-md-7 offset-md-1 col-sm-12 col-sx-12">
            <md-card-title>Angular 4 Recipe list</md-card-title>
            <md-card-subtitle>Angular Udemy Project</md-card-subtitle>
            <md-card-content>
              <p>
                Created a recipe App in Angular 4 with a list of recipes and a recipe details sections which enables a user to add the ingredients to a shopping list.  The project uses basic email and password authentication using Firebase.  When a user registers on Firebase they are then able to store their own recipes in the Firebase database.  The user interface uses Bootstrap 3.  The project uses Angular routing, Http, Services, rxjs template driven and reactive forms in Angular and an introduction to ngrx.
              </p>
              <p>
                Project undertaken as part of <a href="https://www.udemy.com/the-complete-guide-to-angular-2/learn/v4/content" target="_blank">Maximilian Scharzmuller's Angular 4 course on Udemy</a>.
              </p>
            </md-card-content>
          </div>
        </div>
      </md-card>
      <md-card>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-12">
            <a href="http://udemy-oshop.s3-website.eu-west-2.amazonaws.com/" target="_blank">
              <img md-card-image src="../../assets/oshop.png">
            </a>
          </div>
          <div class="col-lg-7 col-md-7 offset-md-1 col-sm-12 col-sx-12">
            <md-card-title>Angular 4 Shop front end</md-card-title>
            <md-card-subtitle>Angular Udemy Project</md-card-subtitle>
            <md-card-content>
              <p>
                Created a shop front end in Angular 4 with a set of categories for bread, fruit, vegetables and seasonings and spices.  The app uses authentication with Google using angularfire2 and firebase and the data is stored in firebase.  A user who isn't registered can select items and add them to a shopping cart.  However, once they want to check out a user has to sign in with their Google account in order to save items to firebase.  The app uses a combination of localstorage and firebase to store data.  Once the user has logged in to their Google signin they can view a my orders page.  The option exists in firebase to give a user adminstrator rights so they can update the product pages using an Angular form.  It would be possible to expand the prototype to add a payment fulfillment system such as Stripe or Paypal.
              </p>
              <p>
                Project undertaken as part of <a href="https://www.udemy.com/the-complete-angular-master-class/learn/v4/content" target="_blank">Mosh Hamedani's Angular 4 course on Udemy</a>.
              </p>
            </md-card-content>
          </div>
        </div>
      </md-card>
      <md-card>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-12">
            <a href="https://turquoise.github.io/moviefinder/" target="_blank">
              <img md-card-image src="../../assets/moviefinder.png">
            </a>
          </div>
          <div class="col-lg-7 col-md-7 offset-md-1 col-sm-12 col-sx-12">
            <md-card-title>Angular Movie Finder</md-card-title>
            <md-card-subtitle>Angular 4 app</md-card-subtitle>
            <md-card-content>
              <p>
                Created an Angular Movie finder using the Movie Database API.  The most popular movies are displayed and a selection of movies that are in theatres.  In addition, users can search for specific movies.
              </p>
              <p>
                Angular Movie app created as part of the <a href="https://www.udemy.com/learn-angular-2-development-by-building-10-apps/" target="_blank">Learn Angular 2 Development By Building 12 Apps by Eduonix</a>.
              </p>
            </md-card-content>
          </div>
        </div>
      </md-card>
      <md-card>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-12">
            <a href="https://turquoise.github.io/mapit/" target="_blank">
              <img md-card-image src="../../assets/mapit.png">
            </a>
          </div>
          <div class="col-lg-7 col-md-7 offset-md-1 col-sm-12 col-sx-12">
            <md-card-title>Angular Google Maps App</md-card-title>
            <md-card-subtitle>Angular 4 app</md-card-subtitle>
            <md-card-content>
              <p>
                Angular Google Maps was created using the Angular Google Maps library and it uses localStorage in order to save the location markers.  Users can currently add and delete markers that have been placed on the map.
              </p>
              <p>
                Angular Google Maps app created as part of the <a href="https://www.udemy.com/learn-angular-2-development-by-building-10-apps/" target="_blank">Learn Angular 2 Development By Building 12 Apps by Eduonix</a>.
              </p>
            </md-card-content>
          </div>
        </div>
      </md-card>


    </md-tab>
    <md-tab label="React">
      <md-card>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-12">
            <a href="https://turquoise.github.io/udemy-react-youtube/" target="_blank">
              <img md-card-image src="../../assets/youtube.png">
            </a>
          </div>
          <div class="col-lg-7 col-md-7 offset-md-1 col-sm-12 col-sx-12">
            <md-card-title>React Youtube App</md-card-title>
            <md-card-subtitle>React App using webpack.</md-card-subtitle>
            <md-card-content>
              <p>
                Created a React Youtube app using the Youtube API.  The app enables users to search for youtube videos and the app displays the top five videos.

              </p>
              <p>
                React Youtube app created as part of the <a href="https://www.udemy.com/react-redux/learn/v4/overview" target="_blank">Modern React with Redux course by Stephen Grider</a>.
              </p>
            </md-card-content>
          </div>
        </div>
      </md-card>
      <md-card>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-12">
            <a href="https://turquoise.github.io/redux-weather/" target="_blank">
              <img md-card-image src="../../assets/weather.png">
            </a>
          </div>
          <div class="col-lg-7 col-md-7 offset-md-1 col-sm-12 col-sx-12">
            <md-card-title>React Redux Weather App</md-card-title>
            <md-card-subtitle>App using React and Redux.</md-card-subtitle>
            <md-card-content>
              <p>
                Created a React Redux style app using the Openweather API, Google maps and  React Sparklines to create a weather app.   Users can search for cities and the search results display a Google map of the city, and a graph displayign the temperature, pressure and humidity over a five day period.
              </p>
              <p>
                React Redux Weather app created as part of the <a href="https://www.udemy.com/react-redux/learn/v4/overview" target="_blank">Modern React with Redux course by Stephen Grider</a>.
              </p>
            </md-card-content>
          </div>
        </div>
      </md-card>
      <md-card>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-12">
            <a href="https://redux-stagram.herokuapp.com/" target="_blank">
              <img md-card-image src="../../assets/reduxstagram.png">
            </a>
          </div>
          <div class="col-lg-7 col-md-7 offset-md-1 col-sm-12 col-sx-12">
            <md-card-title>React Redux Reduxstagram </md-card-title>
            <md-card-subtitle>App using React and Redux.</md-card-subtitle>
            <md-card-content>
              <p>
                Created a React Redux app called Reduxstagram that contains images with likes and comments.  When a user clicks on an image they can increase the number of likes and add comments.  The existing images and comments are stored in a JSON file.  The app uses the latest version of react-router and it was created using create-react-app.
              </p>
              <p>
                React Redux Reduxstagram app created as part of the <a href="https://learnredux.com/" target="_blank">Learn Redux by Wes Bos.</a>.
              </p>
            </md-card-content>
          </div>
        </div>
      </md-card>


    </md-tab>
    <md-tab label="Rails">
      <md-card>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-sx-12">
            <a href="https://monica-pinteresting.herokuapp.com/" target="_blank">
              <img md-card-image src="../../assets/pinterest.png">
            </a>
          </div>
          <div class="col-lg-7 col-md-7 offset-md-1 col-sm-12 col-sx-12">
            <md-card-title>Rails 4 Pinterest Style App</md-card-title>
            <md-card-subtitle>Rails Project using Rails and Bootstrap</md-card-subtitle>
            <md-card-content>
              <p>
                Created a Pinterest style app using Rails 4 which allows users to log in using the Rails framework and images Urls are uploaded to Amazon web service.  The app uses bootstrap 3 and Rails gems such as paperclip in order to enable users to upload images.
              </p>
              <p>
                Rails Prototype to create a Pinterest style app taken part in the <a href="https://onemonth.com/courses/rails" target="_blank">One Month Rails course</a>.
              </p>
            </md-card-content>
          </div>
        </div>
      </md-card>
    </md-tab>
  </md-tab-group>
</div>






<!--<div class="container" layout="column" @fadeAnimation>

  <md-grid-list [cols]="cols | async" rowHeight="780px"> -->

  <!--<md-grid-tile>
    <md-card class="card">
    <md-card-header>
      <md-card-title>Angular Freecodecamp Front End Development</md-card-title>
      <md-card-subtitle>A series of projects using Angular 4</md-card-subtitle>
    </md-card-header>
    <a href="http://freecodecamp-frontend.s3-website.eu-west-2.amazonaws.com/home" target="_blank">
      <img md-card-image src="../../assets/freecodecamp-frontend.png">
    </a>
    <md-card-content>
      <p>
        Projects were created in Angular 4 and hosted on Heroku as part of the <a href="https://www.freecodecamp.org" target="_blank">Freecodecamp</a> Front End Development Certificate. Projects include a Random Quote Generator, a Tribute to Johannes Itten with information taken from the Wikipedia API and the Google Books API, Weather App using an open source IP API and the Openweathermap API, Twitch page accessing the Twitch API, Wikipedia page enabling users to seach the Wikipedia API, a Calculator, a Pomodoro clock, a basic Tic Tac Toe game and a basic Simon Says game.
      </p>
    </md-card-content>
  </md-card>
</md-grid-tile> -->

  <!-- <md-grid-tile>
    <md-card class="card">
    <md-card-header>
      <md-card-title>Angular 4 Recipe list</md-card-title>
      <md-card-subtitle>Angular Udemy Project</md-card-subtitle>
    </md-card-header>
    <a href="https://turquoise.github.io/udemy-recipes/recipes/1" target="_blank">
      <img md-card-image src="../../assets/recipes.png">
    </a>
    <md-card-content>
      <p>
        Created a recipe App in Angular 4 with a list of recipes and a recipe details sections which enables a user to add the ingredients to a shopping list.  The project uses basic email and password authentication using Firebase.  When a user registers on Firebase they are then able to store their own recipes in the Firebase database.  The user interface uses Bootstrap 3.  The project uses Angular routing, Http, Services, rxjs template driven and reactive forms in Angular and an introduction to ngrx.
      </p>
      <p>
        Project undertaken as part of <a href="https://www.udemy.com/the-complete-guide-to-angular-2/learn/v4/content" target="_blank">Maximilian Scharzmuller's Angular 4 course on Udemy</a>.
      </p>
    </md-card-content>
  </md-card>
</md-grid-tile> -->

  <!--<md-grid-tile>
    <md-card class="card">
    <md-card-header>
      <md-card-title>Angular 4 Shop front end</md-card-title>
      <md-card-subtitle>Angular Udemy Project</md-card-subtitle>
    </md-card-header>
    <a href="http://udemy-oshop.s3-website.eu-west-2.amazonaws.com/" target="_blank">
      <img md-card-image src="../../assets/oshop.png">
    </a>
    <md-card-content>
      <p>
        Created a shop front end in Angular 4 with a set of categories for bread, fruit, vegetables and seasonings and spices.  The app uses authentication with Google using angularfire2 and firebase and the data is stored in firebase.  A user who isn't registered can select items and add them to a shopping cart.  However, once they want to check out a user has to sign in with their Google account in order to save items to firebase.  The app uses a combination of localstorage and firebase to store data.  Once the user has logged in to their Google signin they can view a my orders page.  The option exists in firebase to give a user adminstrator rights so they can update the product pages using an Angular form.  It would be possible to expand the prototype to add a payment fulfillment system such as Stripe or Paypal.
      </p>
      <p>
        Project undertaken as part of <a href="https://www.udemy.com/the-complete-angular-master-class/learn/v4/content" target="_blank">Mosh Hamedani's Angular 4 course on Udemy</a>.
      </p>
    </md-card-content>
  </md-card>
</md-grid-tile> -->

  <!--<md-grid-tile>
    <md-card class="card">
    <md-card-header>
      <md-card-title>Rails 4 Pinterest Style App</md-card-title>
      <md-card-subtitle>Rails Project using Rails and Bootstrap</md-card-subtitle>
    </md-card-header>
    <a href="https://monica-pinteresting.herokuapp.com/" target="_blank">
      <img md-card-image src="../../assets/pinterest.png">
    </a>
    <md-card-content>
      <p>
        Created a Pinterest style app using Rails 4 which allows users to log in using the Rails framework and images Urls are uploaded to Amazon web service.  The app uses bootstrap 3 and Rails gems such as paperclip in order to enable users to upload images.
      </p>
      <p>
        Rails Prototype to create a Pinterest style app taken part in the <a href="https://onemonth.com/courses/rails" target="_blank">One Month Rails course</a>.
      </p>
    </md-card-content>
  </md-card>
</md-grid-tile> -->

  <!--<md-grid-tile>
    <md-card class="card">
    <md-card-header>
      <md-card-title>React Youtube App</md-card-title>
      <md-card-subtitle>React App using webpack.</md-card-subtitle>
    </md-card-header>
    <a href="https://turquoise.github.io/udemy-react-youtube/" target="_blank">
      <img md-card-image src="../../assets/youtube.png">
    </a>
    <md-card-content>
      <p>
        Created a React Youtube app using the Youtube API.  The app enables users to search for youtube videos and the app displays the top five videos.

      </p>
      <p>
        React Youtube app created as part of the <a href="https://www.udemy.com/react-redux/learn/v4/overview" target="_blank">Modern React with Redux course by Stephen Grider</a>.
      </p>
    </md-card-content>
  </md-card>
</md-grid-tile> -->

  <!--<md-grid-tile>
    <md-card class="card">
    <md-card-header>
      <md-card-title>React Redux Weather App</md-card-title>
      <md-card-subtitle>App using React and Redux.</md-card-subtitle>
    </md-card-header>
    <a href="https://turquoise.github.io/redux-weather/" target="_blank">
      <img md-card-image src="../../assets/weather.png">
    </a>
    <md-card-content>
      <p>
        Created a React Redux style app using the Openweather API, Google maps and  React Sparklines to create a weather app.   Users can search for cities and the search results display a Google map of the city, and a graph displayign the temperature, pressure and humidity over a five day period.
      </p>
      <p>
        React Redux Weather app created as part of the <a href="https://www.udemy.com/react-redux/learn/v4/overview" target="_blank">Modern React with Redux course by Stephen Grider</a>.
      </p>
    </md-card-content>
  </md-card>
</md-grid-tile> -->

  <!--<md-grid-tile>
    <md-card class="card">
    <md-card-header>
      <md-card-title>React Redux Reduxstagram </md-card-title>
      <md-card-subtitle>App using React and Redux.</md-card-subtitle>
    </md-card-header>
    <a href="https://redux-stagram.herokuapp.com/" target="_blank">
      <img md-card-image src="../../assets/reduxstagram.png">
    </a>
    <md-card-content>
      <p>
        Created a React Redux app called Reduxstagram that contains images with likes and comments.  When a user clicks on an image they can increase the number of likes and add comments.  The existing images and comments are stored in a JSON file.  The app uses the latest version of react-router and it was created using create-react-app.
      </p>
      <p>
        React Redux Reduxstagram app created as part of the <a href="https://learnredux.com/" target="_blank">Learn Redux by Wes Bos.</a>.
      </p>
    </md-card-content>
  </md-card>
</md-grid-tile> -->

  <!--<md-grid-tile>
    <md-card class="card">
    <md-card-header>
      <md-card-title>Angular Movie Finder</md-card-title>
      <md-card-subtitle>Angular 4 app</md-card-subtitle>
    </md-card-header>
    <a href="https://turquoise.github.io/moviefinder/" target="_blank">
      <img md-card-image src="../../assets/moviefinder.png">
    </a>
    <md-card-content>
      <p>
        Created an Angular Movie finder using the Movie Database API.  The most popular movies are displayed and a selection of movies that are in theatres.  In addition, users can search for specific movies.
      </p>
      <p>
        Angular Movie app created as part of the <a href="https://www.udemy.com/learn-angular-2-development-by-building-10-apps/" target="_blank">Learn Angular 2 Development By Building 12 Apps by Eduonix</a>.
      </p>
    </md-card-content>
  </md-card>
</md-grid-tile> -->

  <!--<md-grid-tile>
    <md-card class="card">
    <md-card-header>
      <md-card-title>Angular Google Maps App</md-card-title>
      <md-card-subtitle>Angular 4 app</md-card-subtitle>
    </md-card-header>
    <a href="https://turquoise.github.io/mapit/" target="_blank">
      <img md-card-image src="../../assets/mapit.png">
    </a>
    <md-card-content>
      <p>
        Angular Google Maps was created using the Angular Google Maps library and it uses localStorage in order to save the location markers.  Users can currently add and delete markers that have been placed on the map.
      </p>
      <p>
        Angular Google Maps app created as part of the <a href="https://www.udemy.com/learn-angular-2-development-by-building-10-apps/" target="_blank">Learn Angular 2 Development By Building 12 Apps by Eduonix</a>.
      </p>
    </md-card-content>
  </md-card>
</md-grid-tile> -->

<!--</md-grid-list>
</div>-->
