<div class="container top">
  <div class="heading">
  <h1>Contact me</h1>
</div>
</div>
<div class="container">
<md-card >
  <form (submit)="sendEmail(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
            id="name"
            name="name"
            placeholder="Your Name"
            class="form-control"
            #nameCtrl="ngModel"
            ngModel
            required
            minlength="3"
            maxlength="50"
            pattern="[A-Za-z]*\s*[A-Za-z]*\s*\-*[A-Za-z]*$"
            (change)="log(nameCtrl)" >

    <div class="alert alert-danger" *ngIf="nameCtrl.invalid && nameCtrl.touched" >
      <div *ngIf="nameCtrl.errors.required" >First name is required</div>
      <div *ngIf="nameCtrl.errors.minlength" >Name should be minimum 3 characters</div>
      <div *ngIf="nameCtrl.errors.pattern" >Name should contain characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text"
            id="email"
            name="email"
            placeholder="Your Email"
            class="form-control"
            #emailCtrl="ngModel"
            ngModel
            required
            minlength="6"
            maxlength="50"
            pattern="^([\w\.]*)@([\w\.]*)\.[A-Za-z]*" >
    <div class="alert alert-danger" *ngIf="emailCtrl.invalid && emailCtrl.touched" >
      <div *ngIf="emailCtrl.errors.required" >Email is required</div>
      <div *ngIf="emailCtrl.errors.minlength" >Email should be minimum 6 characters</div>
      <div *ngIf="emailCtrl.errors.pattern" >Email does not match the pattern</div>
    </div>
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea rows="6"
            id="message"
            name="message"
            placeholder="Your message"
            class="form-control"
            #messageCtrl="ngModel"
            ngModel
            required
            pattern="(\w+\s*\S*)*\S*" >
    </textarea>
    <div class="alert alert-danger" *ngIf="messageCtrl.invalid && messageCtrl.touched" >
      <div *ngIf="messageCtrl.errors.required" >Message is required</div>
      <div *ngIf="messageCtrl.errors.pattern" >Message does not match the pattern</div>
    </div>
  </div>
  <!-- <a routerLink="/" >
    <button class="btn btn-default" type="submit" [disabled]="form.invalid" >
      Send Email
    </button>
  </a> -->
  <button md-raised-button color="primary" class="round-corners" type="submit" [disabled]="form.invalid"  >
      Send Email
  </button>

  </form>
<!-- <hr>
<button (click)="openDialog()" class="btn btn-primary">Test Material Dialog</button> -->
</md-card>
</div>
