<md-toolbar style="min-height: 30px; max-height: 60px;"
            color="primary"
            class="md-toolbar-tools">

    <a class="nav-link"
      routerLink="/profile"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true}"
      fFlex fxShow="false" fxShow.gt-sm>
      <span flex>Profile</span>
    </a>
    <a class="nav-link"
      routerLink="/skills"
      routerLinkActive="active"
      fFlex fxShow="false" fxShow.gt-sm>
      <span flex>Skills</span>
    </a>
    <a class="nav-link"
      routerLink="/experience"
      routerLinkActive="active"
      fFlex fxShow="false" fxShow.gt-sm>
      <span flex>Experience</span>
    </a>
    <a class="nav-link"
      routerLink="/education"
      routerLinkActive="active"
      fFlex fxShow="false" fxShow.gt-sm>
      <span flex>Education</span>
    </a>
    <a class="nav-link"
      routerLink="/contact"
      routerLinkActive="active"
      fFlex fxShow="false" fxShow.gt-sm>
      <span flex>Contact me</span>
    </a>
    <span class="example-fill-remaining-space"
          flex
          fxHide="false"
          fxHide.gt-sm>

    </span>

    <button md-button
            fxFlex
            [mdMenuTriggerFor]="menu"
            fxHide="false"
            fxHide.gt-sm >
     <md-icon >menu</md-icon>
    </button>
</md-toolbar>
<md-menu x-position="before"
          #menu="mdMenu">
    <button md-menu-item routerLink="/profile" >
      Profile
    </button>
    <button md-menu-item routerLink="/skills" >
      Skills
    </button>
    <button md-menu-item routerLink="/experience" >
      Experience
    </button>
    <button md-menu-item routerLink="/education" >
      Education
    </button>
    <button md-menu-item routerLink="/contact" >
      Contact me
    </button>

</md-menu>

<!--<md-card class="card-demo">
      <md-card-title>Show & Hide Directives</md-card-title>
      <md-card-subtitle>Use the show hide APIs to responsively show or hide elements:
      </md-card-subtitle>
      <md-card-content>
        <div class="containerX">
          <div fxLayout="row" class="coloredContainerX box">
            <div fxFlex fxHide="false" fxHide.gt-sm> Shown on small device size.<br> Hidden on gt-sm
              devices.
            </div>
            <div fxFlex fxHide="false" fxHide.gt-md> Shown on small and medium size devices.<br>
              Hidden on gt-md devices.
            </div>
            <div fxFlex fxShow="false" fxShow.gt-sm> Only show on gt-sm devices.</div>
            <div fxFlex fxShow="false" fxShow.md> Shown on medium size devices only.</div>
            <div fxFlex fxShow="false" fxShow.gt-lg> Shown on devices larger than 1200px wide
              only.
            </div>
          </div>
        </div>
      </md-card-content>

    </md-card> -->
