
<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" >
            <a class="nav-link" routerLink="/profile" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/skills"  >Skills</a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/work"  >Work</a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/education"  >Education</a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/contact"  >Contact me</a>
          </li>

        </ul>
      </div>
    </nav>
