<div class="container">
  <div class="first" id="home">
    <div class="container logos">
      <div class="row">
        <!-- React -->
        <div class="col-md-4 one">
          <div class="row">
            <div class="col" align="center">
              <a href="https://reactjs.org/" target="_blank">
                <img src="../assets/React-icon.svg" alt="react" >
              </a>
            </div>
          </div>
            <div class="row">
              <div class="col" align="center">
                <div class="project">
                  <a href="https://turquoise.github.io/udemy-react-youtube/" target="_blank" >
                    <img class="project" src="../../assets/youtube.png">
                  </a>
                  <span class="tooltiptext">Youtube project in React</span>
                </div>
              </div>
              <div class="col" align="center">
                <div class="project">
                  <a href="https://turquoise.github.io/redux-weather/" target="_blank" >
                    <img class="project" src="../../assets/weather.png">
                  </a>
                  <span class="tooltiptext">Weather project in React and Redux</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col" align="center">
                <div class="project">
                  <a href="https://redux-stagram.herokuapp.com/" target="_blank" >
                    <img class="project" src="../../assets/reduxstagram.png">
                  </a>
                  <span class="tooltiptext">Reduxstagram project in React and Redux</span>
                </div>
              </div>
            </div>
        </div>

        <!-- Angular -->
        <div class="col-md-4 two">
          <div class="row">
            <div class="col" align="center">
              <a href="https://angular.io/" target="_blank" >
                <img src="../assets/angular.png" alt="angular" >
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col" align="center">
              <div class="project">
                <a  href="https://freecodecamp-frontend-dev.herokuapp.com/" target="_blank" >
                  <img class="project" src="../../assets/freecodecamp-frontend.png">
                </a>
                <span class="tooltiptext">Freecodeamp front end development in Angular</span>
              </div>
            </div>
            <div class="col" align="center">
              <div class="project">
                <a href="https://turquoise.github.io/udemy-recipes/recipes/1" target="_blank" >
                  <img class="project" src="../../assets/recipes.png">
                </a>
                <span class="tooltiptext">Recipes project in Angular</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col" align="center">
              <div class="project">
                <a href="https://turquoise.github.io/oshop/" target="_blank">
                  <img class="project" src="../../assets/oshop.png">
                </a>
                <span class="tooltiptext">Shopfront project in Angular</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col" align="center">
              <div class="project">
                <a href="https://turquoise.github.io/mapit/" target="_blank" >
                  <img class="project" src="../../assets/mapit.png">
                </a>
                <span class="tooltiptext">Google Maps project in Angular</span>
              </div>
            </div>
            <div class="col" align="center">
              <div class="project">
                <a href="https://turquoise.github.io/moviefinder/" target="_blank" >
                  <img class="project" src="../../assets/moviefinder.png">
                </a>
                <span class="tooltiptext">Moviefinder project in Angular</span>
              </div>
            </div>
          </div>
        </div>

      <!-- Rails -->
        <div class="col-md-4 three">
          <div class="row">
            <div class="col" align="center">
              <a href="http://rubyonrails.org/" target="_blank" >
                <img src="../assets/rails.svg" alt="rails" >
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col" align="center">
              <div class="project">
                <a class="project" href="https://monica-pinteresting.herokuapp.com/" target="_blank">
                  <img class="project" src="../../assets/pinterest.png">
                </a>
                <span class="tooltiptext">Pinterest project in Rails 4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>

      <div class="row text-center heading" >
        <div class="col-md-12 col-sm-12" align="center">
          <h1>Monica Gosschalk</h1>
          <br>
          <h1>UX Designer and Front End Developer</h1>
          <br>
          <div (click)="gotTo('yellowdiv')">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="container second">
    <div class="container inner">
      <div class="row">
        <div class="col" align="center">
          <h4 (click)="gotTo('home')">Go to Blue</h4>
          <div id="yellowdiv">Hello from Blue</div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="green">
    <h2>Green</h2>
    <h4 (click)="gotTo('home')">Go to Blue</h4>
    <div id="greendiv">Hello from Blue</div>
  </div>

  <div class="red">
    <h2>Red</h2>
    <h4 (click)="gotTo('home')">Go to Blue</h4>
    <div id="reddiv">Hello from Blue</div>
  </div>
</div> -->
