body {
    background: #ECECEC;
}

.jumbotron {
  margin-top: 20px;
}

.container {
  padding-top: 20px;
}

#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#fff;
}

.items {
    max-width:900px;
    height:300px;
    background:#ECECEC;
}

#left, #right {
    margin: 30p
}

.image {
  width: 50px;
}

.wrapper {
  width: 80%;
  margin: 60px auto;
}
